<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss('cancel');"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit Fleet Profile</h4>
</div>
<div class="modal-body">
	<table ng-hide="optimizing" st-table="displayedCollection" st-safe-src="fleetData" class="table table-striped">
		<thead>
			<tr>
				<th class="">Vehicle Class</th>
				<th class="text-right">Current Allocation</th>
				<th class="text-right">New Allocation</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>[[ row.name ]]</td>
				<td class="text-right">[[ row.base_allocation ]]</td>
				<td class="clearfix">
					<input class="pull-right form-control fleet-size-entry" type="number" />
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="optimizing" class="text-center scale-fade">
		<i class="fa fa-gear fa-spin text-muted"></i> <span class="text-muted">Optimizing...</span>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="optimizing=true;" ng-disabled="optimizing">
		<i class="fa fa-gear"></i> Reoptimize
	</button>
	
  	<button class="btn btn-default" ng-click="$dismiss('cancel');">Cancel</button>
</div>