.upload-area{
	margin-top: 20px;
	padding: 30px;
	background-image: url('/static/images/upload_bg.png');
	background-repeat: no-repeat;
	background-size: 150px;
	background-position: center 50px;
	border: 3px dashed #d4dee3;
	h4{
		display: inline-block;
		margin-top: 210px;
		font-weight: bold;
	}
	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.file-label{
		margin-top: 20px;
	}
}

.margin-top{
	margin-top: 20px;
}

.upload-error{
	position: absolute;
	left: 15px;
	right: 15px;
	top: -5px;
}